body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1 {
    color: #ce8686;
}
input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
button {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #945858;
    color: rgb(255, 255, 255);
}
p {
    font-size: 18px;
    color: #333;
}